.env
.env.dev
.env.prod
venv/
.idea
.vscode

**/__pycache__/

backend/db.sqlite3
backend/logs.log
backend/staticfiles/

service_account.json
config/firebase/

**/staticfiles/
**/mediafiles/
/backend/mediafiles/**

# Keep default images but ignore user uploads
!/backend/mediafiles/defaults/
/backend/mediafiles/defaults/*.png
/backend/mediafiles/defaults/*.jpg
/backend/mediafiles/defaults/*.jpeg
/backend/mediafiles/defaults/*.gif
/backend/mediafiles/defaults/*.svg

# Django migrations - ignore all except __init__.py
# **/migrations/*.py
# !**/migrations/__init__.py